.home .service-section{text-align:center}.home .service-section hr{margin:30px auto;display:block}.home .service-section .services{max-width:800px;margin:auto auto;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:30px}.home .service-section .services .single-service{width:50%;text-align:center}.home .service-section .services .single-service img{width:auto;display:block;margin:auto auto}

/*# sourceMappingURL=home.css.map */
