/*!

Theme Name: ace-legal
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: macbeth-roofing
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

macbeth-roofing is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/header .top-nav-cta{position:fixed;right:0;top:0;z-index:9999;color:#fff;height:65px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;background-color:#c89040;transition:height .5s ease-in-out 0s}@media screen and (max-width: 768px){header .top-nav-cta{width:100%;-ms-flex-pack:center;justify-content:center;position:absolute}header .top-nav-cta:before{display:none}}@media screen and (max-width: 767px){header .top-nav-cta{width:100%;-ms-flex-pack:end;justify-content:flex-end;height:35px;z-index:888}header .top-nav-cta:before{display:none}header .top-nav-cta>div{padding:5px !important}header .top-nav-cta>div span{display:none}}header .top-nav-cta>div{padding:0 40px 0 25px;font-weight:300}header .top-nav-cta>div a{color:#fff;font-weight:400}header .top-nav-cta:before{content:"\A";border-style:solid;position:absolute;left:-42px;border-width:0px 33px 65px 9px;border-color:transparent #c89040 transparent transparent;transition:all .5s ease-in-out 0s}.home header{background-color:#fff !important}footer .container-fluid{max-width:800px;font-weight:300}footer .container-fluid .c-second{color:#003764;font-weight:600}footer .container-fluid .site-logo img{width:100%;height:auto;display:block;max-width:150px;margin:auto auto;margin-top:-12px}.navbar{position:fixed;width:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;left:0;top:0;box-shadow:1px 4px 9px #ababab;transition:min-height .5s ease-in-out 0s}@media screen and (max-width: 768px){.navbar{position:relative}}.navbar.transitioned{min-height:0}.navbar.transitioned .navbar-header{max-width:180px}.navbar.transitioned #navigation .navbar-nav{margin-top:44px}.navbar.transitioned .top-nav-cta{height:40px}.navbar.transitioned .top-nav-cta:before{border-width:0px 34px 42px 9px}.navbar.transitioned a{font-size:15px}.navbar a{transition:font-size .5s ease-in-out 0s}.navbar .navbar-header{width:100%;max-width:237px;background:rgba(255,255,255,0.4);transition:max-width .5s ease-in-out 0s}@media screen and (max-width: 768px){.navbar .navbar-header .mobile-nav{display:-ms-flexbox;display:flex;-ms-flex-pack:end;justify-content:flex-end;-ms-flex-align:center;align-items:center;height:100%}.navbar .navbar-header .mobile-nav>button{margin:0;margin-right:10px}}@media screen and (max-width: 767px){.navbar .navbar-header{margin-top:35px;max-width:initial;z-index:999}.navbar .navbar-header .mobile-nav{display:-ms-flexbox;display:flex;-ms-flex-pack:end;justify-content:flex-end;-ms-flex-align:center;align-items:center;height:100%}.navbar .navbar-header .mobile-nav>button{margin:0;margin-right:10px}}.navbar .navbar-header .navbar-brand{width:100%;background:transparent}@media screen and (max-width: 768px){.navbar .navbar-header .navbar-brand{padding:5px;max-width:170px;margin-left:10px;z-index:999;background-color:#fff;margin-top:74px;margin-bottom:10px}}@media screen and (max-width: 767px){.navbar .navbar-header .navbar-brand{margin-top:-35px}}.navbar .navbar-header .navbar-brand img{width:100%;display:block}.navbar #navigation{background:rgba(255,255,255,0.4);width:100%}@media screen and (max-width: 768px){.navbar #navigation{padding:0;border:0;left:0;top:100%;background-color:#fff;overflow:hidden}}.navbar #navigation .navbar-nav{padding:0;display:-ms-flexbox;display:flex;-ms-flex-pack:end;justify-content:flex-end;transition:margin-top .5s ease-in-out 0s}@media screen and (max-width: 768px){.navbar #navigation .navbar-nav{margin-top:98px}.navbar #navigation .navbar-nav .dropdown-menu{position:absolute;text-align:left;border-radius:10px;padding:0}.navbar #navigation .navbar-nav .dropdown-menu a{font-size:90%;padding:10px 20px}}@media screen and (max-width: 767px){.navbar #navigation .navbar-nav{margin-top:0;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-direction:column;flex-direction:column;background-color:#ababab}.navbar #navigation .navbar-nav .dropdown-menu{width:100%;position:relative}}.navbar #navigation .navbar-nav>li>a{padding:20px 25px}@media screen and (max-width: 768px){.navbar #navigation .navbar-nav>li>a{text-align:left}}.home .navbar .navbar-header{background:rgba(255,255,255,0.4)}.home .navbar #navigation{background:rgba(255,255,255,0.4)}.navbar-toggle .icon-bar{margin-top:0;width:14px;height:2px}#content{margin-top:132px}@media screen and (max-width: 768px){#content{margin-top:0}}.home #content{margin-top:0}.main-color{color:#c89040}.secondary-color{color:#003764}img.aligncenter,img.alignleft,img.alignright{border:0;padding:0}img.alignleft{float:left}img.alignright{float:right}.hero-cta{color:#fff;font-size:1.3rem;color:#c89040;text-transform:uppercase;margin-bottom:6px;display:inline-block}.hero-hr{border-top:2px solid #fff;max-width:130px;text-align:left;margin:25px 0}.hero-el-cont{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}@media screen and (max-width: 1100px){.hero-el-cont .contact-form{display:none}.hero-el-cont .home-cta{padding:6px 10px;margin-top:20px;display:inline-block;background-color:#003764;color:#fff}}.hero-el-cont .contact-form{padding:30px;background-color:#c89040;max-width:550px;margin:0 50px;width:345px}.hero-el-cont .contact-form h2{text-align:left;color:#fff;font-size:28px;margin:0 0 13px 0}.hero-el-cont .contact-form h2 span{font-weight:300}.hero-el-cont .contact-form input[type="text"],.hero-el-cont .contact-form input[type="email"],.hero-el-cont .contact-form textarea{width:100%;font-size:0.9rem;color:#003764;font-weight:300;background-color:#f6e9d9}.hero-el-cont .contact-form p{margin:0}.hero-el-cont .contact-form textarea{height:100px}@media screen and (max-width: 768px){.hero-el-cont{padding:30px 15px}.hero-el-cont .hero-cta,.hero-el-cont .hero-title,.hero-el-cont .hero-subtitle,.hero-el-cont .hero-testimonial-content,.hero-el-cont .hero-testimonial-author-location,.hero-el-cont .hero-testimonial-author{color:#003764}.hero-el-cont .hero-hr{border-color:#003764}}.hero-el-cont>div{max-width:550px;margin:0 50px}@media screen and (max-width: 620px){.hero-el-cont>div{margin:0 10px}}@media screen and (max-width: 768px){.hero-el-cont>div{background-color:rgba(255,255,255,0.6);padding:20px}}@media screen and (max-width: 768px){.hero-title,h1,.h1{font-size:1.4rem}}.page-main{padding:4rem 15px}.page-main p{font-weight:300}@media screen and (max-width: 767px){.page-main{padding:2rem 15px}}.page-headline{font-size:1.8rem;text-transform:initial;text-align:center;color:#003764}@media screen and (max-width: 768px){.page-headline{font-size:1.5rem}}@media screen and (max-width: 767px){.page-headline{font-size:1.4rem}}.title-bar-section{position:absolute;left:0;bottom:0;background-color:#003764;padding:15px 15px 10px 15px;padding-left:200px}@media screen and (max-width: 768px){.title-bar-section{width:100%;padding-left:15px}}.title-bar-section:after{content:"\A";width:0;height:0;border-top:80px solid transparent;border-bottom:0px solid transparent;border-left:60px solid #003764;position:absolute;right:-60px;bottom:0}@media screen and (max-width: 768px){.title-bar-section:after{display:none}}.title-bar-section h2{color:#c89040;font-size:1.5rem;font-weight:600;margin-bottom:2px}.title-bar-section p{color:#fff;font-style:italic;font-size:1rem}.split-content{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;width:100%}.split-content.intro-block-white{-ms-flex-align:start;align-items:flex-start}.split-content .half-image{width:50%;display:-ms-flexbox;display:flex;position:relative}.split-content .half-image img{width:100%;height:100%;display:block}.split-content .half-copy{width:50%;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding:0 5%;text-align:left;max-width:1920px;margin:12px 0;text-align:left}.split-content .half-copy p{text-align:left;font-weight:300;line-height:30px;color:#003764;font-size:1rem}.split-content .half-copy h2{text-align:left;font-weight:600;color:#003764;font-size:1.6rem;margin-top:9px}.split-content .half-copy h3{font-size:1.2rem}.split-content .half-copy hr{border-top:2px solid #003764;max-width:80px;margin:18px 0}.split-content .half-copy ul,.split-content .half-copy ol{padding-left:20px;text-align:left}.split-content .half-copy ul li,.split-content .half-copy ol li{padding-bottom:0.3rem;font-size:1rem}.reverse{-ms-flex-direction:row-reverse;flex-direction:row-reverse}@media screen and (max-width: 768px){.split-content{-ms-flex-direction:column;flex-direction:column}.split-content .half-copy{padding:5% 0}.split-content .half-copy p,.split-content .half-copy h2,.split-content .half-copy h3,.split-content .half-copy img{padding:0 5%}.split-content .half-copy hr{margin-left:5%;margin-right:5%}.split-content .half-copy ul,.split-content .half-copy ol{padding:0 8%}.split-content .half-copy,.split-content .half-image{width:100%}}.intro-block{padding:3rem 0;text-align:center}@media screen and (max-width: 768px){.intro-block{padding:20px 14.5px}}.intro-block hr{border-top:2px solid #003764;max-width:80px;margin:18px 0}.bg-white{background-color:#fff}.cta-button{color:#fff;padding:8px 15px 10px 15px;background-color:#003764;display:inline-block}.page-cta{position:relative;background-color:#c89040}.page-cta h2,.page-cta p{color:#fff}.page-cta h2{margin:0;margin-bottom:1rem;font-size:1.5rem;text-transform:initial;font-weight:400}.page-cta>div:first-child{padding:2.5rem 0}@media screen and (max-width: 767px){.page-cta>div:first-child{padding:2.5rem 15px}}.page-cta>div:first-child>div{padding:15px}.page-cta>div:first-child .cta-button{color:#fff;padding:8px 15px 10px 15px;background-color:#003764;display:inline-block}.page-cta>div:nth-child(2){position:absolute;right:0;top:0;width:40%;height:100%;background-size:cover !important}@media screen and (max-width: 767px){.page-cta>div:nth-child(2){display:none}}.testimonial-section{text-align:center;background-size:cover !important}.testimonial-section hr{margin:30px auto;display:block;border-top:2px solid #fff}.testimonial-section h3{font-size:1.2rem}.testimonial-section p,.testimonial-section h2,.testimonial-section span,.testimonial-section div{color:#fff}.testimonial-section .testimonial-text{max-width:450px;font-size:1.1rem;margin:auto auto;font-style:normal}@media screen and (max-width: 767px){.testimonial-section .testimonial-text{font-size:1rem}}.testimonial-section .testimonial-author{font-weight:300}.testimonial-section .slider{background:none}.testimonial-section .cycle-prev{left:0;border:0;background:none}.testimonial-section .cycle-next{right:0;border:0;background:none}.testimonial-section .cycle-slideshow{width:100%;position:relative;box-sizing:content-box;margin-right:auto;margin-left:auto;padding-left:5.5px;padding-right:5.5px;max-width:800px}.testimonial-section .testimonial .container-fluid{padding-left:100px;padding-right:100px}@media screen and (max-width: 767px){.testimonial-section .testimonial .container-fluid{padding:0}}.testimonial-section blockquote:before{font-family:Arial;content:"\201C";color:#fff;font-size:4em;position:absolute;left:130px;top:-10px}.testimonial-section blockquote:after{font-family:Arial;content:"\201D";color:#fff;font-size:4em;position:absolute;right:130px;bottom:-40px}.page-main ul{list-style:none}.page-main ul li{font-weight:300}.page-main ul li:before{content:"\003E";color:#c89040;padding-right:10px}.page-main ol{font-weight:300}.page-main ol li{padding-left:10px}.page-main>.intro-block:first-child{padding-top:0}.page-main .primary-content h2{text-align:left;font-size:1.5rem}@media screen and (max-width: 767px){.page-main .primary-content h2{font-size:1.3rem}}.wpcf7-submit{background-color:#003764;color:#fff}.home .service-section{text-align:center;background-repeat:no-repeat !important;background-size:cover !important}.home .service-section hr{margin:30px auto;display:block}.home .service-section h3{font-size:1.2rem}.home .service-section .services{max-width:800px;margin:auto auto;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:30px}.home .service-section .services .single-service{width:50%;text-align:center}@media screen and (max-width: 768px){.home .service-section .services .single-service{width:100%}}.home .service-section .services .single-service img{width:auto;display:block;margin:auto auto}.home .service-section .services .single-service h2{font-size:1.3rem;color:#003764;font-weight:600}.home .service-section .services .single-service p{font-weight:300}.home .partner-section{text-align:center}.home .partner-section hr{margin:30px auto;display:block}.home .partner-section h3{font-size:1.2rem}.services>div img{width:100%;display:block}.services>div .box{padding:0}.services>div .box-bottom{position:relative}.services>div .box-bottom p{text-align:center}.services>div .box-bottom .box-title{color:#c89040;font-size:1.3rem;font-weight:400}.services>div .box-bottom .box-desc{color:#003764}.services a{color:#003764}.contact-image{padding:10px;max-width:400px;width:100%}.contact{margin-top:40px}.contact a{color:#c89040}.contact-map{margin-top:50px}.contact-map #lg-contact-map h2{font-size:.9rem;color:#c89040;font-weight:400}.contact-map #lg-contact-map p{color:#003764}.contact-map a{display:inline-block;text-align:center;margin-top:20px;width:100%}.contact-info{text-align:center}

/*# sourceMappingURL=style.css.map */
