footer{
	.container-fluid{
		max-width:800px;
		font-weight:300;
		.c-second{
			color: $brand-secondary;
			font-weight:600;
		}
		.site-logo{
			img{
				width: 100%;
			    height: auto;
			    display: block;
			    max-width: 150px;
			    margin:auto auto;
    			margin-top: -12px;
			}
		}
	}
}