header{
	.top-nav-cta{
	    position: fixed;
	    right: 0;
	    top: 0;
	    z-index: 9999;
	    color: #fff;
	    height: 65px;
	    display:flex;
		align-items:center;
		background-color: $brand-primary;
		transition: height $animation-duration ease-in-out 0s;
		@media screen and (max-width: $screen-sm) {
			width:100%;
			justify-content:center;
			position: absolute;
			&:before{
				display:none;
			}
		}
		@media screen and (max-width: $screen-xs) {
			width:100%;
			justify-content:flex-end;
			height:35px;
			z-index:888;
			&:before{
				display:none;
			}
			>div{
				padding:5px !important;
				span{
					display:none;
				}
			}
		}
		>div{
			padding: 0 40px 0 25px;
			font-weight:300;
			a{
				color:#fff;
				font-weight:400;
			}
		}
		&:before{
			content: "\A";
		    border-style: solid;
		    position: absolute;
		    left: -42px;
		    border-width: 0px 33px 65px 9px;
		    border-color: transparent $brand-primary transparent transparent;
		    transition: all $animation-duration ease-in-out 0s;
		}
	}
}

.home{
	header{
		background-color: rgba(255,255,255,1) !important;
	}
}