#content {
    margin-top: 132px;
    @media screen and (max-width: $screen-sm) {
        margin-top: 0;
    }
}

.home {
    #content {
        margin-top: 0;
    }
}

.main-color {
    color: $brand-primary;
}

.secondary-color {
    color: $brand-secondary;
}

img.aligncenter,
img.alignleft,
img.alignright {
    border: 0;
    padding: 0;
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

.hero-cta {
    color: #fff;
    font-size: 1.3rem;
    color: $brand-primary;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: inline-block;
}

.hero-hr {
    border-top: 2px solid #fff;
    max-width: 130px;
    text-align: left;
    margin: 25px 0;
}

.hero-el-cont {
    display: flex;
    justify-content: space-between;
    .home-cta {
        //display:none;
    }
    @media screen and (max-width: 1100px) {
        .contact-form {
            display: none;
        }
        .home-cta {
            padding: 6px 10px;
            margin-top: 20px;
            display: inline-block;
            background-color: $brand-secondary;
            color: #fff;
        }
    }
    .contact-form {
        padding: 30px;
        background-color: $brand-primary;
        max-width: 550px;
        margin: 0 50px;
        width: 345px;
        h2 {
            text-align: left;
            color: #fff;
            font-size: 28px;
            margin: 0 0 13px 0;
            span {
                font-weight: 300;
            }
        }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            font-size: 0.9rem;
            color: $brand-secondary;
            font-weight: 300;
            background-color: #f6e9d9;
        }
        p {
            margin: 0;
        }
        textarea {
            height: 100px;
        }
    }
    @media screen and (max-width: $screen-sm) {
        padding: 30px 15px;
        .hero-cta,
        .hero-title,
        .hero-subtitle,
        .hero-testimonial-content,
        .hero-testimonial-author-location,
        .hero-testimonial-author {
            color: #003764;
        }
        .hero-hr {
            border-color: #003764;
        }
    }
    > div {
        max-width: 550px;
        margin: 0 50px;
        @media screen and (max-width: 620px) {
            margin: 0 10px;
        }
        @media screen and (max-width: $screen-sm) {
            background-color: rgba(255, 255, 255, 0.6);
            padding: 20px;
        }
    }
}

.hero-title,
h1,
.h1 {
    @media screen and (max-width: $screen-sm) {
        font-size: 1.4rem;
    }
}

.page-main {
    padding: 4rem 15px;
    p {
        font-weight: 300;
    }
    @media screen and (max-width: $screen-xs) {
        padding: 2rem 15px;
    }
}

.page-headline {
    font-size: 1.8rem;
    text-transform: initial;
    text-align: center;
    color: $brand-secondary;
    @media screen and (max-width: $screen-sm) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: $screen-xs) {
        font-size: 1.4rem;
    }
}

.title-bar-section {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $brand-secondary;
    padding: 15px 15px 10px 15px;
    padding-left: 200px;
    @media screen and (max-width: $screen-sm) {
        width: 100%;
        padding-left: 15px;
    }
    &:after {
        content: "\A";
        width: 0;
        height: 0;
        border-top: 80px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 60px solid $brand-secondary;
        position: absolute;
        right: -60px;
        bottom: 0;
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
    }
    h2 {
        color: $brand-primary;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2px;
    }
    p {
        color: #fff;
        font-style: italic;
        font-size: 1rem;
    }
}

/* website split content style */
.split-content {
    display: flex;
    align-items: center;
    width: 100%;
    &.intro-block-white {
        align-items: flex-start;
    }
    .half-image {
        width: 50%;
        display: flex;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .half-copy {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        text-align: left;
        max-width: 1920px;
        margin: 12px 0;
        text-align: left;
        p {
            text-align: left;
            font-weight: 300;
            line-height: 30px;
            color: $brand-secondary;
            font-size: 1rem;
        }
        h2 {
            text-align: left;
            font-weight: 600;
            color: $brand-secondary;
            font-size: 1.6rem;
            margin-top: 9px;
        }
        h3 {
            font-size: 1.2rem;
        }
        hr {
            border-top: 2px solid $brand-secondary;
            max-width: 80px;
            margin: 18px 0;
        }
        ul,
        ol {
            padding-left: 20px;
            text-align: left;
            li {
                padding-bottom: 0.3rem;
                font-size: 1rem;
            }
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: $screen-sm) {
    .split-content {
        flex-direction: column;
        .half-copy {
            padding: 5% 0;
            p,
            h2,
            h3,
            img {
                padding: 0 5%;
            }
            hr {
                margin-left: 5%;
                margin-right: 5%;
            }
            ul,
            ol {
                padding: 0 8%;
            }
        }
        .half-copy,
        .half-image {
            width: 100%;
        }
    }
}
/* end */

.intro-block {
    padding: 3rem 0;
    text-align: center;
    @media screen and (max-width: $screen-sm) {
        padding: 20px 14.5px;
    }
    hr {
        border-top: 2px solid $brand-secondary;
        max-width: 80px;
        margin: 18px 0;
    }
}

.bg-white {
    background-color: #fff;
}

.cta-button {
    color: #fff;
    padding: 8px 15px 10px 15px;
    background-color: $brand-secondary;
    display: inline-block;
}

.page-cta {
    position: relative;
    background-color: $brand-primary;
    h2,
    p {
        color: #fff;
    }
    h2 {
        margin: 0;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-transform: initial;
        font-weight: 400;
    }

    > div:first-child {
        padding: 2.5rem 0;
        @media screen and (max-width: $screen-xs) {
            padding: 2.5rem 15px;
        }
        > div {
            padding: 15px;
        }
        .cta-button {
            color: #fff;
            padding: 8px 15px 10px 15px;
            background-color: $brand-secondary;
            display: inline-block;
        }
    }
    > div:nth-child(2) {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background-size: cover !important;
        @media screen and (max-width: $screen-xs) {
            display: none;
        }
    }
}

.testimonial-section {
    text-align: center;
    background-size: cover !important;
    hr {
        margin: 30px auto;
        display: block;
        border-top: 2px solid #fff;
    }
    h3 {
        font-size: 1.2rem;
    }
    p,
    h2,
    span,
    div {
        color: #fff;
    }
    .testimonial-text {
        max-width: 450px;
        font-size: 1.1rem;
        margin: auto auto;
        font-style: normal;
        @media screen and (max-width: $screen-xs) {
            font-size: 1rem;
        }
    }
    .testimonial-author {
        font-weight: 300;
    }
    .slider {
        background: none;
    }
    .cycle-prev {
        left: 0;
        border: 0;
        background: none;
    }
    .cycle-next {
        right: 0;
        border: 0;
        background: none;
    }
    .cycle-slideshow {
        width: 100%;
        position: relative;
        box-sizing: content-box;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5.5px;
        padding-right: 5.5px;
        max-width: 800px;
    }
    .testimonial {
        .container-fluid {
            padding-left: 100px;
            padding-right: 100px;
            @media screen and (max-width: $screen-xs) {
                padding: 0;
            }
        }
    }
    blockquote {
        &:before {
            font-family: Arial;
            content: "\201C";
            color: #fff;
            font-size: 4em;
            position: absolute;
            left: 130px;
            top: -10px;
        }
        &:after {
            font-family: Arial;
            content: "\201D";
            color: #fff;
            font-size: 4em;
            position: absolute;
            right: 130px;
            bottom: -40px;
        }
    }
}

.page-main {
    ul {
        list-style: none;
        li {
            font-weight: 300;
            &:before {
                content: "\003E";
                color: $brand-primary;
                padding-right: 10px;
            }
        }
    }
    ol {
        font-weight: 300;
        li {
            padding-left: 10px;
        }
    }
    > .intro-block:first-child {
        padding-top: 0;
    }
    .primary-content h2 {
        text-align: left;
        font-size: 1.5rem;
        @media screen and (max-width: $screen-xs) {
            font-size: 1.3rem;
        }
    }
}

//Contact form button
.wpcf7-submit {
    background-color: $brand-secondary;
    color: #fff;
}
