.navbar{
	position:fixed;
	width:100%;
	display:flex;
	justify-content: space-between;
	left:0;
	top:0;
	box-shadow:1px 4px 9px #ababab;
	transition: min-height $animation-duration ease-in-out 0s;
	@media screen and (max-width: $screen-sm) {
		position:relative;
	}
	&.transitioned{
		min-height:0;
		.navbar-header{
			max-width:180px;
		}
		#navigation{
			.navbar-nav{
				margin-top:44px;
			}
		}
		.top-nav-cta{
			height:40px;
			&:before{
				border-width: 0px 34px 42px 9px;
			}
		}
		a{
			font-size:15px;
		}
	}
	a{
		transition: font-size $animation-duration ease-in-out 0s;
	}
	.navbar-header{
		width: 100%;
    	max-width: 237px;
    	background: rgba(255, 255, 255, .4);
    	transition: max-width $animation-duration ease-in-out 0s;
    	@media screen and (max-width: $screen-sm) {
		    .mobile-nav{
			    >button{
			    	margin:0;
			    	margin-right:10px;
			    	margin-top: 20px;
			    }
		    }
		}
		@media screen and (max-width: $screen-xs) {
			margin-top: 35px;
		    max-width: initial;
		    z-index:999;
		    .mobile-nav{
			    >button{
			    	margin:0;
			    	margin-right:10px;
			    	margin-top: 20px;
			    }
		    }
		}
    	.navbar-brand{
    		width:100%;
    		background: transparent;
    		@media screen and (max-width: $screen-sm) {
				padding: 5px;
    			max-width: 170px;
			    margin-left: 10px;
			    z-index: 999;
			    background-color: #fff;
			    margin-top: 74px;
    			margin-bottom: 10px;
			}
			@media screen and (max-width: $screen-xs) {
				margin-top: -35px;
			}
    		img{
    			width:100%;
    			display:block;
    		}
    	}
	}
	#navigation{
		background: rgba(255, 255, 255, .4);
		width: 100%;
		@media screen and (max-width: $screen-sm) {
			padding: 0;
		    border: 0;
		    left: 0;
		    top: 100%;
		    background-color: #fff;
		    overflow:hidden;
		}
		.navbar-nav{
			padding:0;
			display:flex;
			justify-content: flex-end;
			transition: margin-top $animation-duration ease-in-out 0s;
			@media screen and (max-width: $screen-sm) {
				margin-top:98px;
				.dropdown-menu{
				    position: absolute;
				    text-align: left;
				    padding:0;
				    a{
				    	font-size:90%;
				    	padding:10px 20px;
				    }
				}
			}
			@media screen and (max-width: $screen-xs) {
				margin-top:0;
				display: flex;
			    flex-wrap: wrap;
			    flex-direction: column;
			    background-color: #ababab;
			    .dropdown-menu{
					width:100%;
					position:relative;
			    }
			}
			>li{
				>a{
					padding:20px 25px;
					@media screen and (max-width: $screen-sm) {
						text-align:left;
					}
				}
			}
		}
	}
}

.home{
	.navbar{
		.navbar-header{
	    	background: rgba(255, 255, 255, .4);
		}
		#navigation{
			background: rgba(255, 255, 255, .4);
		}
	}
}

.navbar-toggle .icon-bar{
	margin-top:0;
	width: 14px;
    height: 2px;
}