.contact-image{
	padding: 10px;
    max-width: 400px;
    width: 100%;
}

.contact{
	margin-top:40px;
	a{
		color:$brand-primary;
	}
}

.contact-map{
	margin-top:50px;
	#lg-contact-map{
		h2{
			font-size: .9rem;
			color:$brand-primary;
			font-weight:400;
		}
		p{
			color:$brand-secondary;
		}
	}
	a{
		display:inline-block;
		text-align:center;
		margin-top:20px;
		width:100%;
	}
}
.contact-info{
	text-align:center;
}