.home{
	.service-section{
		text-align:center;
		background-repeat:no-repeat !important;
		background-size:cover !important;
		hr{
			margin:30px auto;
			display:block;
		}
		h3{
			font-size: 1.2rem;
		}
		.services{
			max-width: 800px;
		    margin: auto auto;
		    display: flex;
		    flex-wrap: wrap;
		    margin-top: 30px;
		    .single-service{
		    	width:50%;
		    	text-align:center;
		    	@media screen and (max-width: $screen-sm) {
					width:100%;
		    	}
		    	img{
		    		width:auto;
		    		display:block;
		    		margin:auto auto;
		    	}
		    	h2{
		    		font-size:1.3rem;
		    		color: $brand-secondary;
		    		font-weight:600;
		    	}
		    	p{
		    		font-weight:300;
		    	}
		    }
		}
	}
	.partner-section{
		text-align:center;
		hr{
			margin:30px auto;
			display:block;
		}
		h3{
			font-size: 1.2rem;
		}
	}
}