.services{
	>div{
		img{
			width:100%;
			display:block;
		}
		.box{
			padding:0;
		}
		.box-bottom {
			position:relative;
			p{
				text-align:center;
			}
			.box-title{
				color: $brand-primary;
				font-size: 1.3rem;
    			font-weight: 400;
			}
			.box-desc{
				color: $brand-secondary;
			}
		}
	}
	a{
		color:$brand-secondary;
	}
}